$body-font-family = 'Nunito', sans-serif
$heading-font-family = 'Nunito', sans-serif

.round-card {
  border-radius: 10px;
}

.page-enter-active, .page-leave-active {
  transition: opacity .5s;
}
.page-enter, .page-leave-to {
  opacity: 0;
}

@import '~vuetify/src/stylus/main'